<h1>New Article</h1>


<%= form_for @article, url: articles_path, local: true do |form| %>
  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>
 
  <p>
    <%= form.label :text %><br>
    <%= form.text_area :text %>
  </p>
 
  <p>
    <%= form.submit %>
  </p>
<% end %>

<%= form_tag bulk_create_articles_url do |form| %>
  <% 4.times do |i|%>
    Title : <%= text_area_tag :title, "", :name => "articles[][title]" %>
    Text : <%= text_field_tag :text, "", :name => "articles[][text]" %>
  <% end %>
  <%= submit_tag "Submit" %>
<% end %>
