<h1>New Article</h1>


<%= form_for @article, url: articles_path, html: { class: "kev" } do |form| %>
  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>
 
  <p>
    <%= form.label :text %><br>
    <%= form.text_area :text %>
  </p>
 
  <p>
  <%= form.submit 'Remote', class: "sandra"  %>
  </p>
  <p>

  <%= form.submit 'Not remote'  %>
  </p>
<% end %>

 <script>
function handleAddHello() {
  const button = document.getElementsByClassName("sandra")[0]
  button.addEventListener("click", (event) => {
    event.preventDefault()
    const form = document.getElementsByClassName("kev")[0]
    form.dataset.remote = "true"
    console.log('yoyoyoyoo')
    Rails.fire(form, "submit")
  })
}

handleAddHello()
 </script>
