<h1>New Article</h1>


<%= form_for @article, url: articles_path, local: true do |form| %>
  <% if @article.first_step? %>
    <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
    </p>
  <% end %> 
  <% if @article.last_step? %>
    <p>
    <%= form.label :text %><br>
    <%= form.text_area :text %>
    </p>
  <% end %> 
  <p>
  <%= form.submit %>
  </p>
<% end %>
